
<h3>
  Current Email: <%= current_user.email %>
</h3>

<h4>Periods:</h4>
<div class="accordion" id="periods_list">
  <% @periods.each_with_index do |period, index| %>
	  <div class="card">
	    <div class="card-header" id= <%= "heading#{index}" %>>
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target=<%= "#collapse#{index}" %> aria-expanded="false" aria-controls= <%= "#collapse#{index}" %>>
	          <%= period.name %>
	        </button>
	      </h5>
	    </div>

	    <div id= <%= "collapse#{index}"%> class= "collapse" aria-labelledby= <%= "heading#{index}" %> data-parent="#periods_list">
	      <div class="card-body">
	       	<% period.subjects.each do |subject| %>
	       	   <%= subject.name %>
          <% end %>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
