<%= stylesheet_link_tag "mystyle" %>
<h1>
    Welcome to Bear Down!
</h1>
<p>
    Bear Down is a web application that helps you to keep track of where you spend your time study. <br>
</p>
<% if current_user.nil? %>
	<%= button_to "Sign up", "/auth/sign_up", method: :get %>
	<%= button_to "Sign in", "/auth/sign_in", method: :get %>
<% else %>
	<p> 
		<%= current_user.email %> welcome back. Time to focus and get work done. 
	</p>
	<%= button_to "Sign out", "/auth/sign_out", method: :delete %>
<% end %>

